.achievements {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  align-items: center;
  justify-items: center;
  padding: 20px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.achievements__image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

@media (max-width: 749px) {
  .achievements {
    grid-template-columns: repeat(2, 1fr); 
    gap: 30px;
  }
}